{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Avisos</title>
    <link rel="stylesheet" href="{% static 'avisos/css/style.css' %}">
</head>
<body>
    <header>
        <a href="home.html"><h1>Lispector</h1></a>   
    </header>

    <main>
        <h2>Avisos</h2>
        <ul>
                <li>Nenhum aviso cadastrado.</li>
        </ul>
    </main>

    <footer>
        Contato: <a href="mailto:alvs@cesar.school" style="color: #ffd700;">alvs@cesar.school</a> | CESAR School<br>
        © 2025 LISPECTOR. Todos os direitos reservados.
    </footer>
</body>
</html>

