{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Lispector - Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="icon" type="image/png" href="{% static 'logo-lispector.png' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'logo-lispector.png' %}" alt="Instituto Lispector Logo" class="logo-img">
            </a>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">☰</label>
            <ul class="nav-links">
                <li><a href="#">Sobre Nos</a></li>
                <li><a href="{% url 'processo_seletivo:lista_processos_seletivos' %}">Cursos</a></li>
                <li><a href="/contato/">Entre em Contato</a></li>
                <li><a href="#">Doe</a></li>
            </ul>
            <div class="auth-links">
                <a href="{% url 'user:user' %}?form=login">Entrar</a>
            </div>
        </div>
    </nav>
    <header>
        <h1>Instituto Lispector</h1>
    </header>
    <section class="welcome-section">
        <h2>Bem-vindo ao Instituto Lispector</h2>
        <p>
            Somos uma instituição dedicada à educação e à cultura, inspirados pela genialidade de Clarice Lispector.
            Junte-se a nós para explorar o mundo do conhecimento e da criatividade!
        </p>
        <button>Saiba Mais</button>
    </section>
    <footer>
        <p>© 2025 Instituto Lispector. Todos os direitos reservados.</p>
    </footer>
    <script src="{% static 'js/script-home.js' %}"></script>
</body>
</html>
