<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificados</title>
</head>
<body>
    <h1>Certificados</h1>
    <ul>
        {% for certificado in certificados %}
            <li>
                <strong>Aluno:</strong> {{ certificado.aluno }} <br>
                <strong>Curso:</strong> {{ certificado.curso }} <br>
                <strong>Data de Emissão:</strong> {{ certificado.data_emissao }} <br>
                <a href="{{ certificado.arquivo.url }}">Download Certificado</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>